/*
|------------------------------------------------------|
|===========|  FONTS & COLORS & SCROLL BAR  |==========|
|------------------------------------------------------|
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 25px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

@font-face {
  font-family: estedad-thin;
  src: url("../fonts/Estedad-FD-Regular.ttf");
}

@font-face {
  font-family: estedad-bold;
  src: url("../fonts/Estedad-FD-Black.ttf");
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazirmatn-Regular.woff2");
}

:root {
  --font-header: estedad-thin;
  --font-default: vazir;
}

:root {
  --color-accent: #6742e0;
  --color-primary: #6f4be1;
  --color-secondary: #6039e0;
}

:root {
  --color-heading: #f3f4f6;
  --color-default: #d1dae7;
  --color-background: #131225;
}

/*
|------------------------------------------------------|
|=====================|  GLOBAL  |=====================|
|------------------------------------------------------|
*/

body {
  background-color: var(--color-background);
  overflow-x: hidden;
  color: var(--color-default);
  font-family: var(--font-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  color: var(--color-heading);
}

.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 0.375rem;
}

.gap-2 {
  gap: 0.75rem;
}

.gap-3 {
  gap: 1.5rem;
}

.p-1 {
  padding: 0.375rem;
}

.p-2 {
  padding: 0.75rem;
}

.p-3 {
  padding: 1.5rem;
}

.container {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-default);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  font-family: vazir;
}

/*
|------------------------------------------------------|
|======================|  MENU  |======================|
|------------------------------------------------------|
*/

.main header {
  background-image: linear-gradient(90deg, transparent, #232242, transparent);
}

.main .menu {
  height: 60px;
}

.main .menu img {
  width: 100px;
}

.main nav {
  position: relative;
}

.main nav a {
  font-size: 18px;
  padding: 10px;
}

.main nav a:hover {
  color: var(--color-primary);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main nav .line {
  width: 50px;
  height: 2px;
  background-color: var(--color-primary);
  border-radius: 25px;
  opacity: 0;
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  position: absolute;
  top: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main nav a:nth-child(1):hover ~ .line {
  width: 50px;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.main nav a:nth-child(2):hover ~ .line {
  width: 80px;
  -webkit-transform: translateX(-53px);
  transform: translateX(-53px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.main nav a:nth-child(3):hover ~ .line {
  width: 70px;
  -webkit-transform: translateX(-135px);
  transform: translateX(-135px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.main nav a:nth-child(4):hover ~ .line {
  width: 95px;
  -webkit-transform: translateX(-208px);
  transform: translateX(-208px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.main nav a:nth-child(5):hover ~ .line {
  width: 65px;
  -webkit-transform: translateX(-306px);
  transform: translateX(-306px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.main .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main .profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

/*
|------------------------------------------------------|
|====================|  WELCOME  |=====================|
|------------------------------------------------------|
*/

.main .welcome {
  overflow: hidden;
  height: 450px;
  margin-bottom: 20px;
}

.main .welcome .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main .welcome img {
  width: 100%;
  height: 100%;
}

/*
|------------------------------------------------------|
|==================|  LAST WINNERS  |==================|
|------------------------------------------------------|
*/

.main .last-pays .title h2 {
  margin: 0;
  padding-bottom: 15px;
}

.main .last-pays .title .under-line {
  width: 280px;
  height: 3px;
  background-color: var(--color-accent);
  border-radius: 25px;
  box-shadow: 0 0 12px var(--color-accent);
}

.main .last-pays .p-3 {
  padding: 30px 0;
}

.main .last-pays .pays-box {
  width: 30%;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main .last-pays .pays-box:hover {
  box-shadow: 0 0 10px var(--color-primary);
  transition: all 0.3s ease;
}

.main .last-pays .pays-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  outline: 3px solid var(--color-accent);
  outline-offset: 5px;
}

.main .last-pays .pays-box h3 {
  width: 200px;
  font-size: 18px;
  margin: 10px 0;
}

.main .last-pays .pays-box p {
  font-family: estedad-thin;
  font-size: 13px;
  margin: 5px 0;
}

/*
|------------------------------------------------------|
|====================|  CATEGORY  |====================|
|------------------------------------------------------|
*/

.main .categories .title .under-line {
  width: 150px;
  height: 3px;
  background-color: var(--color-accent);
  border-radius: 25px;
  box-shadow: 0 0 12px var(--color-accent);
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.main .categories .Category {
  width: 100%;
}

.main .categories .Category a {
  text-align: center;
  width: fit-content;
  height: 80px;
  margin: 30px auto;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 33px;
  background-color: inherit;
  color: #fff;
  /* text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
    0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 5s infinite alternate; */
}

/* @keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
      0 0 40px #ff005e, 0 0 80px #ff005e;
  }
  100% {
    text-shadow: 0 0 10px #1d92db, 0 0 20px #1d92db, 0 0 40px #1d92db,
      0 0 80px #1d92db, 0 0 200px #1d92db;
  }
} */
/*
|------------------------------------------------------|
|======================| ROOMS  |======================|
|------------------------------------------------------|
*/

.main .rooms {
  width: 100%;
  height: 550px;
}

.main .rooms .title .under-line {
  width: 100px;
  height: 3px;
  background-color: var(--color-accent);
  border-radius: 25px;
  box-shadow: 0 0 12px var(--color-accent);
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.main .rooms .rooms-box {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}

.main .rooms .rooms-row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main .card {
  display: flex;
  flex-direction: column;
  background-color: #69359817;
  width: 380px;
  height: 400px;
  border: 2px #57099f solid;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

.main .card .img {
  height: 30%;
  width: 100%;
  background-size: cover;
  position: absolute;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.main .card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .card .img h1 {
  font-size: 26px;
  font-family: estedad-bold;
  position: absolute;
  right: 20px;
  bottom: 2px;
}

.main .card .img h2 {
  font-size: 18px;
  color: var(--color-heading);
  font-weight: normal;
  position: absolute;
  left: 10px;
  bottom: 2px;
}

.main .card .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main .card .details .room-details .price {
  width: 90%;
  background-color: #af8dff;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  font-family: estedad-thin;
  z-index: 3;
  color: #000;
  position: absolute;
  top: 150px;
}

.main .card .details .room-details .price i {
  margin-left: 10px;
  font-size: 22px;
}

.main .card .details .room-details .time {
  background-color: #d1d1d1;
  padding: 5px 10px;
  width: 70%;
  border-radius: 10px;
  font-size: 16px;
  font-family: estedad-thin;
  z-index: 2;
  color: #000;
  position: absolute;
  top: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main .card .details .room-details .time i {
  margin-left: 10px;
  font-size: 20px;
  color: var(--color-secondary);
}

.main .card .details .room-details .time p {
  width: 90%;
  text-align: center;
}

.main .card .details .room-details .empty-box {
  width: 80%;
  border-radius: 25px;
  background-color: #8e8e8e;
  height: 60px;
  position: absolute;
  margin: auto;
  z-index: 1;
  top: 185px;
}

.main .card .details .room-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main .card .details .btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.main .card .details .btn button {
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 9px;
  background-color: var(--color-accent);
  border: none;
  width: 130px;
  color: var(--color-default);
  cursor: pointer;
  transition: all 0.3s ease;
}

.main .card .details .btn button:hover {
  box-shadow: 0 0 10px var(--color-accent);
  transition: all 0.3s ease;
}

.main .card .details .btn p {
  font-size: 22px;
  color: var(--color-heading);
  font-size: 20px;
  font-family: estedad-thin;
}

.main .card .details .room-details .price svg {
  height: 25px;
  width: 25px;
  color: #cfe829;
  margin-left: 5px;
}

.main .card .details .room-details .time svg {
  height: 25px;
  width: 25px;
  color: #f9b8f6;
  margin-left: 15px;
}

/*
|------------------------------------------------------|
|=====================|  ABOUT US |====================|
|------------------------------------------------------|
*/

.main .about-us {
  width: 100%;
}

.main .about-us .title .under-line {
  width: 120px;
  height: 3px;
  background-color: var(--color-accent);
  border-radius: 25px;
  box-shadow: 0 0 12px var(--color-accent);
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
}

.main .about-us .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.main .about-us .video {
  width: 45%;
  height: 350px;
}

.main .about-us .video video {
  width: 100%;
  border-radius: 10px;
  outline: 2px solid var(--color-primary);
  outline-offset: 5px;
}

.main .about-us .text {
  width: 45%;
  height: 100%;
  margin: 20px;
  text-align: justify;
}

.main .about-us .text p {
  font-size: 18px;
  color: var(--color-default);
  line-height: 2;
}

/*
|------------------------------------------------------|
|====================|  STREAMERS  |===================|
|------------------------------------------------------|
*/

.main .streamers-box .title .under-line {
  width: 150px;
  height: 3px;
  background-color: var(--color-accent);
  border-radius: 25px;
  box-shadow: 0 0 12px var(--color-accent);
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.main .streamers-box {
  width: 100%;
}

.main .streamers-box h1 {
  width: 230px;
  font-size: 35px;
  color: #9f53c0;
  margin-right: 50px;
  margin-bottom: 50px;
  letter-spacing: 1.5px;
  border-bottom: 3px #bd37ea solid;
}

.main .streamers-box .streamers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  margin: 10px 0;
}

.main .streamers-box .streamers .streamer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .streamers-box .streamers .streamer p {
  font-size: 30px;
  font-family: vazir;
  color: var(--color-heading);
  margin: 15px;
}

.main .streamers-box .streamers .streamer .border {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #ff0000 0%,
    #ef6605 25%,
    #46ef02 50%,
    #01f3ee 75%,
    #02c4ff 100%
  );
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main .streamers-box .streamers .streamer .border img {
  width: 100%;
  border-radius: 50%;
}

/*
|------------------------------------------------------|
|===================|  PANEL MENU  |===================|
|------------------------------------------------------|
*/

.panel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.panel header {
  width: 15%;
  height: 97%;
  background-color: #201e3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 30px 0;
  border-radius: 10px;
}

.panel header .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  z-index: 200;
}

.panel header .profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
  margin-bottom: 10px;
}

.panel header .profile h1 {
  width: 90%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 26px;
}

.panel header .profile p {
  font-size: 14px;
  opacity: 0.8;
  direction: ltr;
}

.panel header nav {
  width: 100%;
}

.panel header nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}

.panel header nav a.active {
  background-color: #131225;
  border-radius: 0 10px 10px 0;
}

.panel header nav a.active .top {
  width: 10px;
  height: 10px;
  background-color: #131225;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.panel header nav a.active .top div {
  background-color: #201e3e;
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 10px;
  position: absolute;
}

.panel header nav a.active .bot {
  width: 10px;
  height: 10px;
  background-color: #131225;
  position: absolute;
  top: 100%;
  left: 0;
}

.panel header nav a.active .bot div {
  background-color: #201e3e;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 0;
  position: absolute;
}

.panel header nav a i {
  font-size: 18px;
  margin-left: 10px;
}

.panel header nav a i:nth-child(1) {
  display: unset;
}
.panel header nav a i:nth-child(2) {
  display: none;
}

.panel header nav a.active i:nth-child(1) {
  display: none;
}
.panel header nav a.active i:nth-child(2) {
  display: unset;
}

.panel header nav a p {
  font-size: 18px;
}

.panel .content {
  width: 83%;
  height: 97vh;
  background-image: url("/public/assets/images/bg-logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #201e3e;
}

/*
|------------------------------------------------------|
|=================|  PANEL DASHBOARD  |================|
|------------------------------------------------------|
*/

.panel .content .dashboard {
  width: 100%;
  height: 98%;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.panel .content .dashboard .wallet {
  width: 350px;
  height: 200px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  position: absolute;
  top: 10px;
  right: 10px;
}

.panel .content .dashboard .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.panel .content .dashboard .header h2 {
  font-size: 15px;
  opacity: 0.8;
}

.panel .content .dashboard .header i {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0.8;
}

.panel .content .dashboard .wallet .amount {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.panel .content .dashboard .wallet .amount p:first-child {
  font-family: estedad-bold;
  font-size: 30px;
  margin-left: 5px;
}

.panel .content .dashboard .wallet .amount p:last-child {
  font-size: 18px;
}

.panel .content .dashboard .wallet .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.panel .content .dashboard .wallet .buttons button {
  width: 47%;
  background-color: transparent;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.panel .content .dashboard .wallet .buttons button:first-child {
  background-color: #41db8e;
  box-shadow: 0 0 10px #41db8e;
}

.panel .content .dashboard .wallet .buttons button:last-child {
  background-color: #e0b342;
  box-shadow: 0 0 10px #e0b342;
}

.panel .content .dashboard .wallet .buttons button:hover {
  filter: brightness(70%);
  transition: all 0.3s ease;
}

.panel .content .dashboard .notif {
  width: 525px;
  height: 415px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  position: absolute;
  top: 10px;
  right: 375px;
}

.panel .content .dashboard .notif ul {
  height: 90%;
  padding: 10px;
  overflow-y: auto;
}

.panel .content .dashboard .notif ul li {
  background-color: #232242;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.panel .content .dashboard .notif ul li h3 {
  font-size: 16px;
}

.panel .content .dashboard .notif ul li .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.panel .content .dashboard .notif ul li .buttons button {
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.panel .content .dashboard .notif ul li .buttons button:hover {
  filter: brightness(70%);
  transition: all 0.3s ease;
}

.panel .content .dashboard .notif ul li .buttons button:nth-child(1) {
  background-color: #41db8e;
}

.panel .content .dashboard .notif ul li .buttons button:nth-child(2) {
  background-color: #db4b41;
  color: var(--color-heading);
}

.panel .content .dashboard .notif ul li .buttons button:nth-child(3) {
  background-color: #e0b342;
}

.panel .content .dashboard .notif ul li p {
  direction: ltr;
  font-family: estedad-thin;
  font-size: 13px;
  opacity: 0.8;
  margin-right: auto;
}

.panel .content .dashboard .rank {
  width: 350px;
  height: 450px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  position: absolute;
  top: 10px;
  left: 10px;
}

.panel .content .dashboard .rank .box {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.panel .content .dashboard .rank .box img {
  width: 80%;
  margin: 20px 0;
}

.panel .content .dashboard .rank .box h3 {
  font-family: estedad-bold;
  font-size: 25px;
}

.panel .content .dashboard .rank .box p {
  font-family: estedad-thin;
  font-size: 15px;
  opacity: 0.8;
}

.panel .content .dashboard .rank .box .fill-box {
  width: 100%;
  height: 8px;
  background-color: #302e5a;
  border-radius: 5px;
  overflow: hidden;
  direction: ltr;
}

.panel .content .dashboard .rank .box .fill-box .fill {
  width: 50%;
  height: 100%;
  background-color: #e0b342;
  border-radius: 5px;
  box-shadow: 0 0 10px #e0b342;
}

.panel .content .dashboard .teammates {
  width: 350px;
  height: 200px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  position: absolute;
  top: 225px;
  right: 10px;
}

.panel .content .dashboard .teammates .line {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 15px;
}

.panel .content .dashboard .teammates .line .player {
  width: 80px;
  padding: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel .content .dashboard .teammates .line .player img {
  width: 80px;
  height: 80px;
  border: 3px solid var(--color-secondary);
  border-radius: 10px;
  object-fit: cover;
  border-radius: 8px;
}

.panel .content .dashboard .teammates .line .player h5 {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: ltr;
}

.panel .content .dashboard .joined-room {
  width: 525px;
  height: 250px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  position: absolute;
  top: 440px;
  right: 375px;
}

.panel .content .dashboard .joined-room ul {
  width: 100%;
  height: 90%;
  padding: 10px;
  overflow-y: auto;
}

.panel .content .dashboard .joined-room ul .room {
  width: 100%;
  background-color: #232242;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.panel .content .dashboard .joined-room ul .room div {
  width: calc(100% - 100px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.panel .content .dashboard .joined-room ul .room div h5 {
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel .content .dashboard .joined-room ul .room div p {
  font-family: estedad-thin;
  font-size: 14px;
  align-self: flex-end;
  opacity: 0.8;
}

.panel .content .dashboard .joined-room ul .room a {
  width: 80px;
  background-color: #302e5a;
  border-radius: 8px;
  padding: 10px 0;
  text-align: center;
  transition: all 0.3s ease;
}

.panel .content .dashboard .joined-room ul .room a:hover {
  filter: brightness(80%);
  transition: all 0.3s ease;
}

.panel .content .dashboard .status {
  width: 350px;
  height: 150px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  position: absolute;
  top: 475px;
  left: 10px;
}

.panel .content .dashboard .status .line {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 15px;
}

.panel .content .dashboard .status .line .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel .content .dashboard .status .line .box h5 {
  margin-bottom: 5px;
  opacity: 0.8;
}

.panel .content .dashboard .status .line .box p {
  font-family: estedad-bold;
  font-size: 20px;
}

.panel .content .dashboard .last-transactions {
  width: 350px;
  height: 250px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  position: absolute;
  top: 440px;
  right: 10px;
}

.panel .content .dashboard .last-transactions ul {
  width: 100%;
  height: 90%;
  padding: 10px;
  overflow-y: auto;
}

.panel .content .dashboard .last-transactions ul .transactions {
  width: 100%;
  background-color: #232242;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.panel .content .dashboard .last-transactions ul .transactions i {
  font-size: 20px;
  margin-right: 5px;
}

.panel .content .dashboard .last-transactions ul .transactions h5 {
  font-size: 15px;
}

.panel .content .dashboard .last-transactions ul .transactions p {
  font-family: estedad-thin;
  font-size: 13px;
  opacity: 0.8;
}

/*
|------------------------------------------------------|
|===================|  PANEL TEAM  |===================|
|------------------------------------------------------|
*/

.panel .content .team {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.panel .content .team .buttons {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
}

.panel .content .team .buttons button {
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.panel .content .team .buttons button:hover {
  filter: brightness(80%);
  transition: all 0.3s ease;
}

.panel .content .team > .buttons button:nth-child(1) {
  margin-left: 10px;
  background-color: #e0b342;
}

.panel .content .team > .buttons button:nth-child(2) {
  background-color: #41db8e;
}

.panel .content .team .title {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel .content .team .title i {
  font-size: 20px;
  margin-left: 5px;
  opacity: 0.8;
}

.panel .content .team .title h2 {
  font-size: 20px;
  opacity: 0.8;
}

.panel .content .team .my-team {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.panel .content .team .my-team .info {
  width: 350px;
  height: 150px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.panel .content .team .my-team .info .team-logo {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid var(--color-accent);
}

.panel .content .team .my-team .info .text {
  width: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.panel .content .team .my-team .info .text h3 {
  width: 100%;
  font-size: 30px;
  direction: ltr;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel .content .team .my-team .info .text p {
  font-size: 13px;
}

.panel .content .team .my-team .status {
  width: 450px;
  height: 150px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.panel .content .team .my-team .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel .content .team .my-team .header i {
  font-size: 15px;
  opacity: 0.8;
  margin-left: 5px;
}

.panel .content .team .my-team .header h2 {
  font-size: 15px;
  opacity: 0.8;
}

.panel .content .team .my-team .status .boxs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.panel .content .team .my-team .status .boxs .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.panel .content .team .my-team .status .boxs .box h5 {
  opacity: 0.8;
}

.panel .content .team .my-team .status .boxs .box p {
  font-size: 20px;
  font-family: estedad-bold;
}

.panel .content .team .my-team .invite {
  width: 390px;
  height: 150px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  margin-bottom: 10px;
}

.panel .content .team .my-team .invite .box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.panel .content .team .my-team .invite .box .link {
  width: calc(100% - 40px);
  height: 35px;
  background-color: #302e5a;
  border-radius: 8px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.panel .content .team .my-team .invite .box .link p {
  width: 100%;
  direction: ltr;
  font-size: 15px;
  overflow: auto;
  scrollbar-width: none;
  white-space: nowrap;
}

.panel .content .team .my-team .invite .box .icon {
  width: 35px;
  height: 35px;
  background-color: #302e5a;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-default);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.panel .content .team .my-team .invite .box .icon:hover {
  filter: brightness(80%);
  transition: all 0.3s ease;
}

.panel .content .team .my-team .invite .box .icon i {
  font-size: 15px;
  margin-top: 3px;
}

.panel .content .team .my-team .invite .notic {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

.panel .content .team .my-team .players {
  width: 49.5%;
  height: 450px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
}

.panel .content .team .my-team .players ul {
  height: 90%;
  padding: 10px;
  overflow-y: auto;
  margin-top: 10px;
}

.panel .content .team .my-team .players ul .player {
  width: 100%;
  border-radius: 10px;
  background-color: #232242;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px;
}

.panel .content .team .my-team .players ul .player img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.panel .content .team .my-team .players ul .player h4 {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}

.panel .content .team .my-team .players ul .player .buttons {
  width: fit-content;
  padding: 0;
}

.panel .content .team .my-team .players ul .player .buttons button {
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.panel
  .content
  .team
  .my-team
  .players
  ul
  .player
  .buttons
  button:nth-child(1) {
  color: #e0b342;
}

.panel
  .content
  .team
  .my-team
  .players
  ul
  .player
  .buttons
  button:nth-child(2) {
  color: #41db8e;
}

.panel
  .content
  .team
  .my-team
  .players
  ul
  .player
  .buttons
  button:nth-child(3) {
  color: #db4b41;
}

.panel .content .team .my-team .players ul .player .buttons button i {
  font-size: 20px;
  margin-top: 4px;
}

.panel .content .team .my-team .team-history {
  width: 49.5%;
  height: 450px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
}

.panel .content .team .my-team .team-history ul {
  padding: 10px;
  margin-top: 10px;
}

.panel .content .team .my-team .team-history ul .room {
  height: 90%;
  overflow-y: auto;
  background-color: #232242;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.panel .content .team .my-team .team-history ul .room p {
  opacity: 0.8;
  font-family: estedad-thin;
}

.panel .content .team .my-team .team-history ul .room h4 {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel .content .transactions-page {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.panel .content .transactions-page ul {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.panel .content .transactions-page ul .transactions {
  width: 100%;
  background-color: #232242;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.panel .content .transactions-page ul .transactions i {
  font-size: 22px;
  margin-top: 3px;
}

.panel .content .transactions-page ul .transactions h5 {
  font-size: 18px;
  width: 350px;
}

.panel .content .transactions-page ul .transactions .code {
  width: 250px;
  text-align: center;
  letter-spacing: 1px;
}

.panel .content .transactions-page ul .transactions .mode {
  width: 120px;
  text-align: center;
  opacity: 0.8;
}

.panel .content .transactions-page ul .transactions p {
  font-size: 18px;
  font-family: estedad-thin;
}

.panel .content .rooms-history {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.panel .content .rooms-history ul {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.panel .content .rooms-history ul .room {
  width: 100%;
  background-color: #232242;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.panel .content .rooms-history ul .room h4 {
  font-size: 18px;
  width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel .content .rooms-history ul .room p {
  font-family: estedad-thin;
}

.panel .content .rooms-history ul .room .status {
  width: 300px;
}

.panel .content .rooms-history ul .room i {
  font-size: 20px;
}

/*
|------------------------------------------------------|
|==================|  PANEL OFFERS  |==================|
|------------------------------------------------------|
*/

.panel .content .offers {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 10px;
}

.panel .content .offers .sub {
  width: 23%;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel .content .offers .sub img {
  width: 90%;
}

.panel .content .offers .sub ul {
  width: 100%;
}

.panel .content .offers .sub ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel .content .offers .sub h2 {
  margin-bottom: 20px;
}

.panel .content .offers .sub ul li {
  margin-bottom: 5px;
  opacity: 0.9;
}

.panel .content .offers .sub ul li i {
  margin-left: 5px;
  color: #41db8e;
  font-size: 18px;
}

.panel .content .offers .sub ul li p {
  font-size: 16px;
}

.panel .content .offers .sub > p {
  margin-top: 10px;
}

.panel .content .offers .sub p {
  font-family: estedad-thin;
  font-size: 18px;
}

.panel .content .offers .sub button {
  width: 90%;
  padding: 8px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: var(--color-primary);
  margin-top: 20px;
  color: var(--color-default);
  cursor: pointer;
  transition: all 0.3s ease;
}

.panel .content .offers .sub button:hover {
  filter: brightness(80%);
  transition: all 0.3s ease;
}

/*
|------------------------------------------------------|
|=================|  PANEL SETTINGS  |=================|
|------------------------------------------------------|
*/

.panel .content .settings {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.panel .content .settings .line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.panel .content .settings .line .user-name {
  width: 32%;
  height: 300px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel .content .settings .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.8;
}

.panel .content .settings .title i {
  font-size: 18px;
  margin-left: 5px;
}

.panel .content .settings .title h2 {
  font-size: 15px;
}

.panel .content .settings .line .user-name .old-name {
  width: 100%;
}

.panel .content .settings .line .user-name h3 {
  font-size: 16px;
  margin: 10px 0;
}

.panel .content .settings .line .user-name h4 {
  width: 100%;
  background-color: #302e5a;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 1px;
}

.panel .content .settings .line .user-name .new-name {
  width: 100%;
}

.panel .content .settings .line .user-name input,
.panel .content .settings .line .user-name input:autofill {
  width: 100%;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 18px;
  font-family: vazir;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-accent);
  text-align: center;
  color: var(--color-default);
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.panel .content .settings .line .user-name input:focus,
.panel .content .settings .line .user-name input:valid {
  background-color: #302e5a;
  border-radius: 5px;
  border-bottom-color: var(--color-primary);
  transition: all 0.3s ease;
}

.panel .content .settings .line .user-name button {
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-accent);
  color: var(--color-default);
  margin: 20px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.panel .content .settings .line .user-name button:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 0 10px var(--color-secondary);
  transition: all 0.3s ease;
}

.panel .content .settings .line .password {
  width: 32%;
  height: 300px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel .content .settings .line .password .old-password {
  width: 100%;
}

.panel .content .settings .line .password h3 {
  font-size: 16px;
  margin: 10px 0;
}

.panel .content .settings .line .password h4 {
  width: 100%;
  background-color: #302e5a;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 1px;
}

.panel .content .settings .line .password .new-password {
  width: 100%;
}

.panel .content .settings .line .password input {
  width: 100%;
  background-color: transparent;
  padding: 5px 10px;
  font-size: 18px;
  font-family: vazir;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-accent);
  text-align: center;
  color: var(--color-default);
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

.panel .content .settings .line .password input:focus,
.panel .content .settings .line .password input:valid {
  background-color: #302e5a;
  border-radius: 5px;
  border-bottom-color: var(--color-primary);
  transition: all 0.3s ease;
}

.panel .content .settings .line .password button {
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-accent);
  color: var(--color-default);
  margin: 20px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.panel .content .settings .line .password button:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 0 10px var(--color-secondary);
  transition: all 0.3s ease;
}

.panel .content .settings .line .profile {
  width: 32%;
  height: 300px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel .content .settings .line .profile .pic {
  width: 180px;
  height: 180px;
  position: relative;
  margin: auto 0;
}

.panel .content .settings .line .profile .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-accent);
}

.panel .content .settings .line .profile .pic .edit {
  width: 40px;
  height: 40px;
  background-color: var(--color-accent);
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  bottom: 3px;
  left: 10px;
  color: var(--color-default);
  cursor: pointer;
  transition: all 0.3s ease;
}

.panel .content .settings .line .profile .pic .edit:hover {
  filter: brightness(80%);
  transition: all 0.3s ease;
}

.panel .content .settings .line .profile .pic .edit i {
  font-size: 18px;
  margin-top: 5px;
}

.panel .content .settings .line .rules {
  width: 32%;
  height: 180px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.panel .content .settings .line .rules a {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.panel .content .settings .line .rules a:hover {
  filter: brightness(80%);
  transition: all 0.3s ease;
}

.panel .content .settings .line .rules .title {
  margin-bottom: 15px;
}

.panel .content .settings .line .rules .title i {
  margin-left: 8px;
}

.panel .content .settings .line .rules a i {
  font-size: 22px;
  margin-left: 10px;
  color: #b587ff;
}

.panel .content .settings .line .rules a p {
  font-size: 18px;
  color: #41b7db;
}

/*
|------------------------------------------------------|
|================|  PANEL RESPONSIVE  |================|
|------------------------------------------------------|
*/

@media screen and (max-width: 480px) {
  .panel {
    flex-direction: column-reverse;
    padding-top: 8px;
    padding-bottom: 85px;
  }

  .panel header {
    height: 70px;
    width: 97%;
    padding: 0;
    position: fixed;
    bottom: 1%;
    z-index: 300;
  }

  .panel header .profile {
    width: 70px;
    position: absolute;
    top: -30px;
    margin: 0;
  }

  .panel header .profile::after {
    content: "";
    width: 70px;
    height: 70px;
    background-color: #131225;
    position: absolute;
    top: -10px;
    z-index: -100;
    border-radius: 100px 100px;
  }

  .panel header .profile img {
    width: 50px;
    height: 50px;
  }

  .panel header .profile h1 {
    display: none;
  }

  .panel header .profile p {
    display: none;
  }

  .panel header nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
  }

  .panel header nav .top-links,
  .panel header nav .bottom-links {
    width: 41%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .panel header nav a {
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }

  .panel header nav a.active {
    border-radius: 10px;
  }

  .panel header nav a .top,
  .panel header nav a .bot {
    display: none;
  }

  .panel header nav a i {
    margin: 0;
  }

  .panel header nav a p {
    display: none;
  }

  .panel .content {
    width: 96%;
    height: 100%;
    padding-bottom: 35px;
    background-size: 160%;
  }

  /*
|------------------------------------------------------|
|=================|  PANEL DASHBOARD  |================|
|------------------------------------------------------|
*/

  .panel .content .dashboard {
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .panel .content .dashboard * {
    scrollbar-width: none;
  }

  .panel .content .dashboard .wallet {
    top: 10px;
    right: 1.5%;
    width: 97%;
  }

  .panel .content .wallet .buttons button {
    width: 135px;
  }

  .panel .content .dashboard .notif {
    top: 840px;
    right: 1.5%;
    width: 97%;
  }

  .panel .content .dashboard .notif ul li h3 {
    font-size: 14px;
  }

  .panel .content .dashboard .notif ul li p {
    font-size: 12px;
  }

  .panel .content .dashboard .notif ul li .buttons {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .panel .content .dashboard .notif ul li .buttons button {
    font-size: 13px;
    padding: 8px 20px;
    margin-top: 10px;
  }

  .panel .content .dashboard .rank {
    top: 220px;
    right: 1.5%;
    width: 97%;
  }

  .panel .content .dashboard .teammates {
    top: 1265px;
    right: 1.5%;
    width: 97%;
  }

  .panel .content .dashboard .teammates .line .player img {
    width: 70px;
    height: 70px;
  }

  .panel .content .dashboard .teammates .line .player h5 {
    overflow: hidden;
  }

  .panel .content .dashboard .joined-room {
    top: 1475px;
    right: 1.5%;
    width: 97%;
  }

  .panel .content .dashboard .joined-room ul .room div h5 {
    font-size: 14px;
  }

  .panel .content .dashboard .joined-room ul .room div p {
    font-size: 12px;
    opacity: 0.8;
  }

  .panel .content .dashboard .joined-room ul .room a {
    font-size: 13px;
  }

  .panel .content .dashboard .status {
    top: 680px;
    right: 1.5%;
    width: 97%;
  }

  .panel .content .dashboard .last-transactions {
    top: 1735px;
    right: 1.5%;
    width: 97%;
  }

  /*
|------------------------------------------------------|
|===================|  PANEL TEAM  |===================|
|------------------------------------------------------|
*/

  .panel .content .team {
    scrollbar-width: none;
    overflow-x: hidden;
    padding: 10px;
    align-items: center;
  }

  .panel .content .team * {
    scrollbar-width: none;
  }

  .panel .content .team .buttons {
    justify-content: center;
  }

  .panel .content .team .title {
    margin: 10px;
  }

  .panel .content .team .my-team {
    width: 100%;
  }

  .panel .content .team .my-team .info,
  .panel .content .team .my-team .status,
  .panel .content .team .my-team .invite,
  .panel .content .team .my-team .players,
  .panel .content .team .my-team .team-history {
    width: 100%;
    margin-bottom: 10px;
  }

  .panel .content .team .my-team .invite .notic {
    font-size: 12px;
  }

  .panel .content .team .my-team .players .header {
    padding: 10px 10px 0;
  }

  .panel .content .team .my-team .players {
    height: 420px;
    padding: 5px;
    overflow: hidden;
  }

  .panel .content .team .my-team .players ul {
    width: 100%;
  }

  .panel .content .team .my-team .players ul .player {
    padding: 5px;
  }

  .panel .content .team .my-team .players ul .player img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .panel .content .team .my-team .players ul .player h4 {
    width: 100px;
    font-size: 16px;
  }

  .panel .content .team .my-team .players ul .player button {
    padding: 5px;
  }

  .panel .content .team .my-team .players ul .player i {
    font-size: 16px;
  }

  .panel .content .team .my-team .team-history {
    overflow: auto;
    padding: 10px;
  }

  .panel .content .team .my-team .team-history ul {
    width: 100%;
  }

  .panel .content .team .my-team .team-history ul .room {
    flex-wrap: wrap;
    padding: 8px;
  }

  .panel .content .team .my-team .team-history ul .room h4 {
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .panel .content .team .my-team .team-history ul .room p {
    margin-left: 10px;
  }

  .panel .content .team .my-team .team-history ul .room h5 {
    align-self: center;
    margin-top: 5px;
    font-size: 12px;
    opacity: 0.8;
    margin: 5px auto 0 5px;
  }

  /*
|------------------------------------------------------|
|===============|  PANEL TRANSACTIONS  |===============|
|------------------------------------------------------|
*/

  .panel .content .transactions-page {
    overflow: auto;
    scrollbar-width: none;
  }

  .panel .content .transactions-page ul {
    width: 100%;
    scrollbar-width: none;
  }

  .panel .content .transactions-page ul .transactions {
    flex-direction: column;
    position: relative;
  }

  .panel .content .transactions-page ul .transactions p:first-child {
    opacity: 0.8;
  }

  .panel .content .transactions-page ul .transactions h5 {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .panel .content .transactions-page ul .transactions .code {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .panel .content .transactions-page ul .transactions .mode {
    margin: 5px 0;
  }

  .panel .content .transactions-page ul .transactions i {
    /* margin: 5px 0; */
    position: absolute;
    opacity: 0.2;
    font-size: 150px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
  }

  /*
|------------------------------------------------------|
|=================|  PANEL HISTORY  |==================|
|------------------------------------------------------|
*/

  .panel .content .rooms-history {
    overflow: auto;
    scrollbar-width: none;
  }

  .panel .content .rooms-history ul {
    width: 100%;
  }

  .panel .content .rooms-history ul .room {
    flex-wrap: wrap;
    padding: 15px;
    position: relative;
  }

  .panel .content .rooms-history ul .room h4 {
    width: 270px;
    margin-bottom: 10px;
  }

  .panel .content .rooms-history ul .room i {
    margin: 0 20px;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    font-size: 120px;
  }

  .panel .content .rooms-history ul .room .status {
    width: 100%;
    text-align: right;
    font-size: 15px;
  }

  .panel .content .rooms-history ul .room p:nth-child(1) {
    margin-right: 5px;
  }

  .panel .content .rooms-history ul .room p:nth-child(5) {
    margin: 10px auto 0 10px;
  }

  .panel .content .rooms-history ul .room p:nth-child(6) {
    margin-top: 10px;
  }

  /*
|------------------------------------------------------|
|==================|  PANEL OFFERS  |==================|
|------------------------------------------------------|
*/

  .panel .content .offers {
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
  }

  .panel .content .offers .sub {
    width: 100%;
    margin-bottom: 10px;
  }
}

/*
|------------------------------------------------------|
|====================|  MONITOR  |=====================|
|------------------------------------------------------|
*/

@media only screen and (min-width: 1600px) and (max-width: 2000px) {
  /*
|------------------------------------------------------|
|================|  PANEL DASHBOARD  |=================|
|------------------------------------------------------|
*/

  .panel .content .dashboard .wallet {
    width: 400px;
  }

  .panel .content .dashboard .teammates {
    width: 400px;
  }

  .panel .content .dashboard .last-transactions {
    width: 400px;
    height: 450px;
  }

  .panel .content .dashboard .notif {
    width: 735px;
    right: 425px;
  }

  .panel .content .dashboard .notif ul li .buttons button {
    width: 30%;
    margin: 10px 0;
  }

  .panel .content .dashboard .joined-room {
    width: 735px;
    height: 450px;
    right: 425px;
  }

  .panel .content .dashboard .rank {
    width: 400px;
    height: 550px;
  }

  .panel .content .dashboard .status {
    width: 400px;
    top: 575px;
  }

  /*
|------------------------------------------------------|
|===================|  PANEL TEAM  |===================|
|------------------------------------------------------|
*/

  .panel .content .team .my-team .info {
    /* width: 500px; */
    width: 32%;
  }

  .panel .content .team .my-team .status {
    /* width: 500px; */
    width: 32%;
  }

  .panel .content .team .my-team .invite {
    /* width: 500px; */
    width: 34%;
  }

  .panel .content .team .my-team .players {
    height: 550px;
  }

  .panel .content .team .my-team .team-history {
    height: 550px;
  }
}

/*
|------------------------------------------------------|
|====================|  LAPTOP L  |====================|
|------------------------------------------------------|
*/

@media only screen and (min-width: 1360px) and (max-width: 1600px) {
  /*
|------------------------------------------------------|
|================|  PANEL DASHBOARD  |=================|
|------------------------------------------------------|
*/

  .panel .content .dashboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .panel .content .dashboard .wallet {
    width: 350px;
  }

  .panel .content .dashboard .teammates {
    width: 350px;
  }

  .panel .content .dashboard .last-transactions {
    width: 450px;
    height: 250px;
    top: 805px;
    right: 375px;
  }

  .panel .content .dashboard .notif {
    width: 740px;
    right: 375px;
  }

  .panel .content .dashboard .notif ul li .buttons button {
    width: 30%;
    margin: 10px 0;
  }

  .panel .content .dashboard .joined-room {
    width: 740px;
    height: 350px;
    right: 375px;
  }

  .panel .content .dashboard .rank {
    width: 350px;
    height: 450px;
    top: 440px;
    right: 10px;
  }

  .panel .content .dashboard .status {
    width: 350px;
    right: 10px;
    top: 905px;
  }

  /*
|------------------------------------------------------|
|===================|  PANEL TEAM  |===================|
|------------------------------------------------------|
*/

  .panel .content .team .my-team .info {
    /* width: 350px; */
    width: 32%;
  }

  .panel .content .team .my-team .status {
    /* width: 350px; */
    width: 32%;
  }

  .panel .content .team .my-team .invite {
    /* width: 390px; */
    width: 34%;
  }

  .panel .content .team .my-team .players {
    height: 550px;
  }

  .panel .content .team .my-team .team-history {
    height: 550px;
  }
}
/*
|------------------------------------------------------|
|=================|  SITE RESPONSIVE  |================|
|------------------------------------------------------|
*/
